<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listar Peliculas</title>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>
<body>
    <div class="container">
        <div class="margin: 0 auto">
            <h2 class="text-center fw-bold">LISTA DE PELICULAS</h2>
           <table>
            <thead>
                <tr>
                    <th>Código</th>
                    <th>Título</th>
                    <th>Protagonista</th>
                    <th>Duración</th>
                    <th>Resumen</th>
                    <th>Foto</th>
                    <th>Género</th>
                    <th>Accion</th>
                </tr>
            </thead>
            <tbody>
                {% for pel in Peliculas %}
                <tr>
                    <td>{{pel.pelCodigo}}</td>
                    <td>{{pel.pelTitulo}}</td>
                    <td>{{pel.pelProtagonista}} </td>
                    <td>{{pel.pelDuracion}}</td>
                    <td>{{pel.pelResumen}}</td>
                    <td>
                        <img src="/media/{{pel.pelFoto}}" alt="" width="32" height="32">
                    </td>
                    <td>{{pel.pelGenero.genNombre}}</td>
                    <td class="text-center">
                        <a href="/consultarPelicula/{{pel.id}}/">
                            <i class="fa fa-edit" title="editar">edit</i></a>
                        <i class="fa fa-trash text-danger" title="eliminar" onclick="eliminarPelicula('{{pel.id}}')">elim</i>

                    </td>
                </tr>
                {% endfor %}
            </tbody>
           </table>
        </div>
    </div>
</body>
{% load static%}
<script src="{% static '../static/js/app.js' %}"></script>
</html>